<h2>Gallery</h2>

<form>
  <input placeholder="Password" type="text" (input)="onPassworld($event) "/>
  <button (click)="onPassworld($event)">Open form</button>

</form>

<form (submit)="onImg($event)">
  <div class="log" *ngIf="shouForm">
    <input placeholder="image title" type="text" (input)="onTitle($event)"/>
    <input placeholder="image URL" type="text" (input)="onUrl($event)"/>
    <button >Add image</button>
  </div>
</form>

<hr/>

<app-img *ngFor="let user of img"
         [title]="user.title"
         [url]="user.url"
></app-img>



