<div class="numbers">
<div class="num">{{this.numbers[0]}}</div>
<div class="num">{{this.numbers[1]}}</div>
<div class="num">{{this.numbers[2]}}</div>
<div class="num">{{this.numbers[3]}}</div>
<div class="num">{{this.numbers[4]}}</div>
</div>
<button type="button" class="btn" (click)="getNewNumbers()">New numbers</button>
