.numbers{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.num{
  display: inline-block;
  margin: 10px;
  width: 180px;
  background: darkgrey;
  color: gold;
  line-height: 120px;
  font-size: 32px;
  text-align: center;
  border: 1px solid;
}

.btn{
  width: 100px;
  height: 40px;
  display: inline-block;
  margin-left: 45%;
  font-size: 15px;
  background: blue;
}
